.argument {
	display: flex;
	flex-wrap: wrap;
}

.argument-title + .argument-type,
.argument-type + .argument-description {
	margin-left: 1em;
}



.content-file {
	display: flex;
	flex-wrap: wrap;
}

.content-file .content-title {
	display: none;
}

.content-file .sidebar {
	width: 30%;
}

.content-file .node {
	width: 70%;
}
