/**
 * The default skin
 *
 * - black on white
 * - minimalist and brutalist look
 *
 * Enabling a skin / theme is done in `style.scss`
 * Example: `@import 'assets/scss/themes/white.scss';`
 *
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Typography
 *
 */
/**
  * Layout
  *
  */
/**
 * Decorations
 *
 */
@font-face {
  font-family: 'Sparks-Dotline-Medium';
  src: url("assets/fonts/Sparks-Dotline-Medium.eot");
  src: url("assets/fonts/Sparks-Dotline-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Sparks-Dotline-Medium.woff2") format("woff2"), url("assets/fonts/Sparks-Dotline-Medium.woff") format("woff"), url("assets/fonts/Sparks-Dotline-Medium.ttf") format("truetype"), url("assets/fonts/Sparks-Dotline-Medium.svg#Sparks-Dotline-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

.sparks-font {
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: contextual;
          font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt" 1, "kern" 1;
          font-feature-settings: "calt" 1, "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-feature-settings: "calt", "kern";
  -moz-font-feature-settings: "calt=1", "kern=1"; }

.sparks-font-dotline-medium {
  font-family: Sparks-Dotline-Medium; }

@font-face {
  font-family: 'nimbus_sans_lbold_italic';
  src: url("assets/fonts/nimbussanl-bolita-webfont.woff2") format("woff2"), url("assets/fonts/nimbussanl-bolita-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus_sans_lbold';
  src: url("assets/fonts/nimbussanl-bol-webfont.woff2") format("woff2"), url("assets/fonts/nimbussanl-bol-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus_sans_lregular_italic';
  src: url("assets/fonts/nimbussanl-regita-webfont.woff2") format("woff2"), url("assets/fonts/nimbussanl-regita-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus_sans_lregular';
  src: url("assets/fonts/nimbussanl-reg-webfont.woff2") format("woff2"), url("assets/fonts/nimbussanl-reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus_monoregular';
  src: url("assets/fonts/nimbusmono-regular-webfont.woff2") format("woff2"), url("assets/fonts/nimbusmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* - fixing big child elements breaking smaller parent's width and height in Firefox
- http://stackoverflow.com/questions/26895349/how-can-i-get-ff-33-x-flexbox-behavior-in-ff-34-x
*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
     ========================================================================== */
/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in
   *    IE on Windows Phone and in iOS.
   */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

* {
  min-height: 0; }

* {
  min-width: 0; }

html {
  box-sizing: border-box; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }
  html body {
    font-size: 100%;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    font-family: nimbus_sans_lregular, Arial, Helvetica Neue, Helvetica, sans-serif;
    color: black;
    background-color: white;
    letter-spacing: 1.25px; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      font-weight: normal; }
    html body p, html body figure, html body blockquote, html body ul, html body ol, html body li {
      margin: 0;
      padding: 0; }
    html body a {
      word-wrap: break-word; }
    html body iframe, html body object, html body embed {
      max-width: 100%; }
    html body button,
    html body input,
    html body optgroup,
    html body select,
    html body textarea,
    html body input[type="button"],
    html body input[type="reset"],
    html body input[type="submit"],
    html body input[type="checkbox"],
    html body input[type="radio"],
    html body input[type="number"],
    html body input[type="search"],
    html body input[type="url"] {
      font-weight: normal;
      font-style: normal;
      font-family: nimbus_sans_lregular, Arial, Helvetica Neue, Helvetica, sans-serif;
      color: black;
      background-color: white;
      border: none;
      border-radius: 0;
      -webkit-appearance: none; }
    html body input[type="text"],
    html body input[type="url"],
    html body .input-text,
    html body input[type="email"],
    html body input[type="tel"],
    html body input[type="password"],
    html body input[type="file"],
    html body input[type="search"] {
      width: 100%;
      padding-bottom: 0.625em;
      border-bottom: 1px solid; }
    html body select {
      border: 1px solid;
      width: 100%;
      padding: 0.3125em; }
    html body label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 1.25em;
      padding-bottom: 0.625em; }
    html body fieldset {
      border: 1px solid;
      margin: 0;
      padding: 1.25em; }
    html body textarea {
      width: 100%;
      padding: 1.25em;
      border: 1px solid; }
    html body button,
    html body .button,
    html body input[type="submit"] {
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      will-change: all;
      transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
      border: 1px solid;
      padding: 0.3125em 0.625em; }
      html body button:hover,
      html body .button:hover,
      html body input[type="submit"]:hover {
        cursor: url("assets/images/brutalist_line_SVGicon_cursor2-64x64--white.png") 20 0, url("assets/images/brutalist_line_SVGicon_cursor2-64x64--white.cur"), pointer; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      html body {
        font-size: 1.25em; } }
    @media only screen and (min-width: 1025px) and (max-width: 1600px) {
      html body {
        font-size: 1.25em; } }
    @media only screen and (min-width: 1600.1px) {
      html body {
        font-size: 1.563em; } }
    html body a,
    html body .link {
      color: black;
      background-color: white;
      text-decoration: underline;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body a:hover, html body a:active,
      html body .link:hover,
      html body .link:active {
        text-decoration: line-through; }
    @media only screen and (max-width: 767.9px) {
      html body .header {
        padding-top: 2.5em; } }
    @media only screen and (min-width: 768px) {
      html body .header {
        padding-top: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .header {
        padding-bottom: 2.5em; } }
    @media only screen and (min-width: 768px) {
      html body .header {
        padding-bottom: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .header {
        padding-left: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .header {
        padding-left: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .header {
        padding-right: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .header {
        padding-right: 2.5em; } }
    html body .header .header-title {
      font-size: 1.953em; }
    @media only screen and (max-width: 767.9px) {
      html body .menu {
        padding-left: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .menu {
        padding-left: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .menu {
        padding-right: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .menu {
        padding-right: 2.5em; } }
    html body .menu .menu-title {
      display: none; }
    html body .menu .ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      html body .menu .ul li + .li,
      html body .menu .ul li + li,
      html body .menu .ul .li + .li,
      html body .menu .ul .li + li {
        margin-left: 1.25em; }
    @media only screen and (max-width: 767.9px) {
      html body .content {
        padding-top: 2.5em; } }
    @media only screen and (min-width: 768px) {
      html body .content {
        padding-top: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .content {
        padding-bottom: 2.5em; } }
    @media only screen and (min-width: 768px) {
      html body .content {
        padding-bottom: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .content {
        padding-left: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .content {
        padding-left: 2.5em; } }
    @media only screen and (max-width: 767.9px) {
      html body .content {
        padding-right: 1.25em; } }
    @media only screen and (min-width: 768px) {
      html body .content {
        padding-right: 2.5em; } }
    html body .content .content-title {
      display: none; }
    html body .content .node {
      border: 1px solid; }
      @media only screen and (max-width: 767.9px) {
        html body .content .node {
          padding-top: 2.5em; } }
      @media only screen and (min-width: 768px) {
        html body .content .node {
          padding-top: 2.5em; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node {
          padding-bottom: 2.5em; } }
      @media only screen and (min-width: 768px) {
        html body .content .node {
          padding-bottom: 2.5em; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node {
          padding-left: 1.25em; } }
      @media only screen and (min-width: 768px) {
        html body .content .node {
          padding-left: 2.5em; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node {
          padding-right: 1.25em; } }
      @media only screen and (min-width: 768px) {
        html body .content .node {
          padding-right: 2.5em; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node + .sidebar {
          margin-top: 2.5em; } }
      @media only screen and (min-width: 768px) {
        html body .content .node + .sidebar {
          margin-top: 2.5em; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node + .sidebar {
          margin-bottom: 0; } }
      @media only screen and (min-width: 768px) {
        html body .content .node + .sidebar {
          margin-bottom: 0; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node + .sidebar {
          margin-left: 0; } }
      @media only screen and (min-width: 768px) {
        html body .content .node + .sidebar {
          margin-left: 0; } }
      @media only screen and (max-width: 767.9px) {
        html body .content .node + .sidebar {
          margin-right: 0; } }
      @media only screen and (min-width: 768px) {
        html body .content .node + .sidebar {
          margin-right: 0; } }
    html body .sidebar .sidebar-title {
      display: none; }
    html body .sidebar .sidebar-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media only screen and (max-width: 767.9px) {
        html body .sidebar .sidebar-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          html body .sidebar .sidebar-content > * {
            margin-right: 0px;
            margin-bottom: 0px;
            box-sizing: border-box; }
          html body .sidebar .sidebar-content > * {
            width: calc(100% - (((1 - 1) * 0px) / 1) - 0px); }
            html body .sidebar .sidebar-content > *:nth-child(1n) {
              margin-right: 0; } }
      @media only screen and (min-width: 768px) {
        html body .sidebar .sidebar-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          html body .sidebar .sidebar-content > * {
            margin-right: 1.25em;
            margin-bottom: 0px;
            box-sizing: border-box; }
          html body .sidebar .sidebar-content > * {
            width: calc(33.33333% - (((3 - 1) * 1.25em) / 3) - 0px); }
            html body .sidebar .sidebar-content > *:nth-child(3n) {
              margin-right: 0; } }
      html body .sidebar .sidebar-content .nodes .nodes-title {
        font-size: 1.25em; }
        @media only screen and (max-width: 767.9px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-bottom: 1.25em; } }
        @media only screen and (min-width: 768px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-bottom: 1.25em; } }
        @media only screen and (max-width: 767.9px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-top: 0; } }
        @media only screen and (min-width: 768px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-top: 0; } }
        @media only screen and (max-width: 767.9px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-left: 0; } }
        @media only screen and (min-width: 768px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-left: 0; } }
        @media only screen and (max-width: 767.9px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-right: 0; } }
        @media only screen and (min-width: 768px) {
          html body .sidebar .sidebar-content .nodes .nodes-title {
            margin-right: 0; } }
      html body .sidebar .sidebar-content .nodes .ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        html body .sidebar .sidebar-content .nodes .ul li,
        html body .sidebar .sidebar-content .nodes .ul .li {
          border: 1px solid;
          margin-bottom: 0.625em;
          padding: 0.625em; }
    html body .menu .ul .li--index a,
    html body .menu .ul .li--index .link {
      color: black;
      background-color: white;
      text-decoration: line-through;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body .menu .ul .li--index a:hover, html body .menu .ul .li--index a:active,
      html body .menu .ul .li--index .link:hover,
      html body .menu .ul .li--index .link:active {
        text-decoration: underline; }
    html body.errors .menu .ul .li--index a,
    html body.errors .menu .ul .li--index .link {
      color: black;
      background-color: white;
      text-decoration: underline;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.errors .menu .ul .li--index a:hover, html body.errors .menu .ul .li--index a:active,
      html body.errors .menu .ul .li--index .link:hover,
      html body.errors .menu .ul .li--index .link:active {
        text-decoration: line-through; }
    html body.errors .menu .ul .li--errors a,
    html body.errors .menu .ul .li--errors .link {
      color: black;
      background-color: white;
      text-decoration: line-through;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.errors .menu .ul .li--errors a:hover, html body.errors .menu .ul .li--errors a:active,
      html body.errors .menu .ul .li--errors .link:hover,
      html body.errors .menu .ul .li--errors .link:active {
        text-decoration: underline; }
    html body.markers .menu .ul .li--index a,
    html body.markers .menu .ul .li--index .link {
      color: black;
      background-color: white;
      text-decoration: underline;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.markers .menu .ul .li--index a:hover, html body.markers .menu .ul .li--index a:active,
      html body.markers .menu .ul .li--index .link:hover,
      html body.markers .menu .ul .li--index .link:active {
        text-decoration: line-through; }
    html body.markers .menu .ul .li--markers a,
    html body.markers .menu .ul .li--markers .link {
      color: black;
      background-color: white;
      text-decoration: line-through;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.markers .menu .ul .li--markers a:hover, html body.markers .menu .ul .li--markers a:active,
      html body.markers .menu .ul .li--markers .link:hover,
      html body.markers .menu .ul .li--markers .link:active {
        text-decoration: underline; }
    html body.deprecated .menu .ul .li--index a,
    html body.deprecated .menu .ul .li--index .link {
      color: black;
      background-color: white;
      text-decoration: underline;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.deprecated .menu .ul .li--index a:hover, html body.deprecated .menu .ul .li--index a:active,
      html body.deprecated .menu .ul .li--index .link:hover,
      html body.deprecated .menu .ul .li--index .link:active {
        text-decoration: line-through; }
    html body.deprecated .menu .ul .li--deprecated a,
    html body.deprecated .menu .ul .li--deprecated .link {
      color: black;
      background-color: white;
      text-decoration: line-through;
      will-change: text-decoration;
      transition: text-decoration 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
      html body.deprecated .menu .ul .li--deprecated a:hover, html body.deprecated .menu .ul .li--deprecated a:active,
      html body.deprecated .menu .ul .li--deprecated .link:hover,
      html body.deprecated .menu .ul .li--deprecated .link:active {
        text-decoration: underline; }

/*# sourceMappingURL=template.css.map */
