{% import 'parts/macros.html.twig' as macros %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>{{ macros.projectTitle() }}</title>
	</head>
	<body>
		{% include 'parts/header.html.twig' %}
		{% include 'parts/menu.html.twig' %}

		{% block sidebar %}{% endblock %}
		{% block content %}{% endblock %}
	</body>
</html>
