{% import 'parts/macros.html.twig' as macros %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>{{ macros.projectTitle() }}</title>
		<link href="{{ path('css/template.css') }}" rel="stylesheet" media="all"/>
		<script src="{{ path('js/template.js') }}"></script>
	</head>
	<body class="{{ bodyClass }}">
		{% include 'parts/header.html.twig' %}
		{% include 'parts/menu.html.twig' %}

		{% block content %}{% endblock %}
	</body>
</html>
