<nav class="menu">
	<h3>Menu</h3>

	<ul class="ul">
		<li class="li">
			<a class="link" href="{{ path('errors.html') }}" title="Errors">Errors</a>
		</li>
		<li class="li">
			<a class="link" href="{{ path('markers.html') }}" title="Markers">Markers</a>
		</li>
		<li class="li">
			<a class="link" href="{{ path('deprecated.html') }}" title="Deprecated">Deprecated</a>
		</li>
	</ul>
</nav>
