<nav class="menu">
	<h3 class="menu-title">Menu</h3>

	<ul class="ul">
		<li class="li li--index">
			<a class="link" href="{{ path('index.html') }}" title="Documentation">Documentation</a>
		</li>
		<li class="li li--errors">
			<a class="link" href="{{ path('errors.html') }}" title="Errors">Errors</a>
		</li>
		<li class="li li--markers">
			<a class="link" href="{{ path('markers.html') }}" title="Markers">Markers</a>
		</li>
		<li class="li li--deprecated">
			<a class="link" href="{{ path('deprecated.html') }}" title="Deprecated">Deprecated</a>
		</li>
	</ul>
</nav>
