<nav class="sidebar">
	<h3 class="sidebar-title">Sidebar</h3>

	<div class="sidebar-content">
		{% set nodeType = "Templates" %}
		{% include 'inc/nodes.html.twig' %}

		{% set nodeType = "Template Parts" %}
		{% include 'inc/nodes.html.twig' %}

		{% set nodeType = "Template Tags" %}
		{% include 'inc/nodes.html.twig' %}
	</div>
</nav>
