<section class="sidebar">
	<h3 class="hidden">Sidebar</h3>

	<div class="sidebar-content">
		{% set fileType = "Templates" %}
		{% include 'parts/structural-elements/file-list.html.twig' %}

		{% set fileType = "Template Parts" %}
		{% include 'parts/structural-elements/file-list.html.twig' %}

		{% set fileType = "Template Tags" %}
		{% include 'parts/structural-elements/file-list.html.twig' %}
	</div>
</section>
