{% set bodyClass = "deprecated" %}
{% extends 'parts/layout.html.twig' %}

{% block content %}
	<section class="content content-deprecated">
		<h3 class="content-title">Deprecated elements</h3>

		<div class="content-body">
			{% set transformationName = "Deprecated elements" %}
			{% include 'parts/transformation/transformation.html.twig' %}
		</div>
	</section>
{% endblock %}
