{% set bodyClass = "errors" %}
{% extends 'parts/layout.html.twig' %}

{% block content %}
<section class="content content-errors">
	<h3 class="content-title">Errors</h3>

	<div class="content-body">
		{% set transformationName = "Errors" %}
		{% include 'parts/transformation/transformation.html.twig' %}
	</div>
</section>
{% endblock %}
