{% set bodyClass = "file" %}
{% extends 'parts/layout.html.twig' %}

{% block content %}
	<section class="content content-file">
		<h3 class="content-title">Content</h3>

		{% set docBlock = { klass: "file", node: node } %}
		{% include 'parts/structural-element/file.html.twig' %}

		{% include 'parts/sidebar.html.twig' %}
	</section>
{% endblock %}
