{% extends 'parts/layout.html.twig' %}


{% block content %}
	<section class="content content-file">
		<h3 class="content-title">Content</h3>

		{% include 'parts/sidebar.html.twig' %}

		<article class="article">
			<p>{{ node.path | split('/') | slice(0,-1) | join('/') }}</p>
			<p>{{ node.name }}</p>
			<p>{{ node.summary }}</p>
			<p>{{ node.description | markdown | raw }}</p>
		</article>
	</section>
{% endblock %}
