{% extends 'parts/layout.html.twig' %}


{% block content %}
	<section class="content content-file">
		<h3 class="content-title">Content</h3>

		{% include 'parts/sidebar.html.twig' %}
		{% include 'inc/node.html.twig' %}
	</section>
{% endblock %}
