{% extends 'parts/layout.html.twig' %}


{% block content %}
	<section class="content content-file">
		<h3 class="content-title">Content</h3>

		{% include 'parts/sidebar.html.twig' %}

		<section class="node">
			<h3 class="node-title">
				{{ node.name }}
			</h3>
			<p class="node-subtitle">
				{{ node.path | split('/') | slice(0,-1) | join('/') }}
			</p>
			<div class="node-summary">
				{{ node.summary }}
			</div>
			<div class="node-description">
				{{ node.description | markdown | raw }}
			</div>

			{% include 'parts/functions.html.twig' %}
		</section>
	</section>
{% endblock %}
