{% extends 'parts/layout.html.twig' %}

{% block sidebar %}
	{% include 'parts/sidebar.html.twig' %}
{% endblock %}

{% block content %}
	<p>{{ node.path | split('/') | slice(0,-1) | join('/') }}</p>
	<p>{{ node.name }}</p>
	<p>{{ node.summary }}</p>
	<p>{{ node.description | markdown | raw }}</p>

{% endblock %}
