{% extends 'parts/layout.html.twig' %}

{% block content %}
	<section class="content content-documentation">
		<h3 class="content-title">Documentation</h3>

		<div class="content-body">
			{% for namespace in project.namespaces %}
				{{ namespace }}
				<br/>
			{% endfor %}

			<br/><br/>
			{% for element in project.indexes.elements %}
				{{ element.file.path }}
				<br/>
			{% endfor %}

			<br/><br/>
			{% for file in project.files %}
				{{ file.path }}
				<br/>
			{% endfor %}
		</div>
	</section>
{% endblock %}
