{% set bodyClass = "index" %}
{% extends 'parts/layout.html.twig' %}

{% block content %}
	<section class="content content-documentation">
		<h3 class="content-title">Documentation</h3>

		{% include 'parts/sidebar.html.twig' %}
	</section>
{% endblock %}
