{% set bodyClass = "markers" %}
{% extends 'parts/layout.html.twig' %}

{% block content %}
	<section class="content content-markers">
		<h3 class="content-title">Markers</h3>

		<div class="content-body">
			{% set transformationName = "Markers" %}
			{% include 'parts/transformation/transformation.html.twig' %}
		</div>
	</section>
{% endblock %}
