@mixin ul--horizontal($margin: $lem) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .li {
    margin-right: $margin;
    margin-bottom: $margin;

    + .li {
      margin-left: 0;
    }
  }
}
