@mixin file {
	display: flex;
	flex-direction: column;

	.file-path {
		order: -1;
		display: inline-flex;

		.text {
			@include text-style(section-title-bordered);
			padding: $button-padding !important;
		}
	}

	.file-title {
		@include border(normal, all);
		@include padding(half, half, half, half);

		.text {
			@include text-style(headline);
		}
	}

	.file-summary-and-description {
		@include border(normal, all);
		@include padding(half, half, half, half);

		border-top: none;
		display: flex;
		flex-direction: column;

		.file-summary {
			.text {
				@include text-style(large);
			}

			+ .file-description {
				@include margin(half, no, no, no);
			}
		}

		.file-description {
			.text {
				@include text-style(body-text-post);
			}
		}
	}

	.file-tags {
		@include border(normal, all);
		@include padding(half, half, half, half);

		border-top: none;
		display: flex;
		flex-direction: column;

		.tag-list {
			@include tag-list;
		}
	}

	.functions {
		@include functions;
	}
}
