// Text style
//
// Typographic settings for different text types.
// Each text type has set a `font`, a `scale`, a `color` and parameters like letter-spacing, max-width or else.
// Everything text uses this `text-style` mixin. We don't set `color` or `font` directly for a text.
//
// Styleguide text-style


// The text mixin
@mixin text-style($variant) {

  // Default
  // - The basic settings for the site
  @if ($variant == 'default') {
    @include scale(default);
    @include font(default);
    @include colors(default);

    letter-spacing: $letter-spacing;

    @include tablet {
      @include scale(large-1);
    }

    @include laptop {
      @include scale(large-1);
    }

    @include desktop {
      @include scale(large-2);
    }
  }


  // Large text
  // - Text larger with a scale
  @if ($variant == 'large') {
    @include scale(large-1);
  }


  // Small text
  // - Text smaller with a scale
  @if ($variant == 'small') {
    @include scale(small-1);
  }


  // Site title
  // - The title of the site
  @if ($variant == 'site-title') {
    @include font(site-title);
  }


  // Headline
  // - Large text
  @if ($variant == 'headline') {
    @include scale(large-3);
  }

  // Function title
  // - Large text
  @if ($variant == 'function-title') {
    @include scale(large-2);
  }

  // Headline with large spacing
  // - Large text with extra large spacing
  @if ($variant == 'headline-title') {
    @include scale(large-3);
    letter-spacing: $letter-spacing-extra-large;
    line-height: $line-height-smaller;
  }


  // Section title
  @if ($variant == 'section-title') {
    display: inline-flex;
    @include colors;
    @include padding(half, yes, half, yes);
  }


  // Section title with border
  @if ($variant == 'section-title-bordered') {
    display: inline-flex;
    @include colors;
    @include padding(half, yes, half, yes);
    @include border(normal, all);
    border-bottom: none;
  }


  // Sticky text
  // - it's
  @if ($variant == 'sticky') {
    @include scale(small-1);
    @include word-wrap;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-larger;
  }


  // Button, action
  @if ($variant == 'action') {
    @include scale(small-1);
    text-transform: uppercase;
    letter-spacing: $letter-spacing-larger;
  }


  // Figcaption
  // - Settings for figure caption.
  @if ($variant == 'figcaption') {
    @include colors(default);
    @include scale(small-1);
    line-height: $line-height;
  }


  // Body text of an post
  @if ($variant == 'body-text-post') {
    @include elements;
  }
}
