@mixin cite {
  cite,
  .cite {
    display: block;

    @include font(default);
    @include border(normal, top);
    @include margin(yes, no, no, no);
    @include padding(yes, no, no, no);

    &:before {
      content: 'by';
      padding-right: $lem / 4;
    }
  }
}
