{% if tag | length > 0 %}
	<div class="tag tag--{{ tag.klass }}">
		{% for item in tag.items %}
		<div class="col-{{ loop.index }}">
			<span class="text">
				{{ item }}
			</span>
		</div>
		{% endfor %}
	</div>
{% endif %}
