<aside class="tag-list-header">
	<h3 class="hidden">Tag list header</h3>

	{% for item in tagList.header %}
		<div class="col-{{ loop.index }}">
			<span class="text">
				{{ item }}
			</span>
		</div>
	{% endfor %}
</div>
