@mixin argument {
	display: flex;

	@include border(normal, all);
	margin: $lem / 4 0;
	padding: $lem / 4;

	.argument-title {
		width: 35%;
	}

	.argument-type {
		width:  15%;
	}

	.argument-description {
		width: 50%;
	}
}
