<section class="file">
	{% set docBlock = { klass: "file", node: node } %}

	{% include 'parts/docblock/docblock-name.html.twig' %}
	{% include 'parts/docblock/docblock-path.html.twig' %}
	{% include 'parts/docblock/docblock-summary-and-description.html.twig' %}
</section>
