{% for file in project.files %}
	{% if file.markers | length > 0 %}
		{% set counter = counter + file.markers | length %}

		{% set tagListTags %}
		{% for marker in file.markers %}
		<div class="tag">
			<div class="col-1">
				<span class="text">{{ marker.type }}</span>
			</div>

			<div class="col-2">
				<span class="text">{{ marker.line }}</span>
			</div>

			<div class="col-3">
				<span class="text">{{ marker.message }}</span>
			</div>
		</div>
		{% endfor %}
		{% endset %}

		{% set tagList = { header: ['Type', 'Line', 'Description'], tagsHTML: tagListTags } %}
		{% set db = { tagLists: [tagList] } %}
		{% set f = { name: file.path, docBlock: db, file: file } %}
		{% include 'parts/file/file.html.twig' %}
	{% endif %}
{% endfor %}
