{% set counter = 0 %}

{% for file in project.files %}
	{% if file.markers | length > 0 %}
		{% set counter = counter + file.markers | length %}

		{% set tagListTags %}
		{% for marker in file.markers %}
			{% set tag = { klass: 'tag', items: [marker.type, marker.line, marker.message] } %}
			{% include 'parts/docblock/docblock-tag.html.twig' %}
		{% endfor %}
		{% endset %}

		{% set header = { klass: 'header', items: ['Type', 'Line', 'Description'] } %}
		{% set tagList = { tags: header, tagsHTML: tagListTags } %}
		{% set node = { name: file.path, tagLists: [tagList] } %}
		{% set docBlock = { klass: "Markers", node: node } %}
		{% include 'parts/structural-elements/file.html.twig' %}
	{% endif %}
{% endfor %}

{% if counter == 0 %}
	<span class="text">
		There are no {{ transformationName | lower }} :)
	</span>
{% endif %}
