<aside class="argument">
	<h3 class="argument-title">
		{{ argument.name }}
	</h3>

	<div class="argument-type">
		{{ argument.types |route | join('|') | raw }}
	</div>

	<div class="argument-description">
		{{ argument.description | markdown | raw }}
	</div>
</aside>
