<article class="function">
	<h3 class="function-title">
		<span class="text">{{ function.name }}</span>
	</h3>

	{% if function.deprecated %}
		<div class="function-deprecated">
			<span class="text">Deprecated</span>
		</div>
	{% endif %}

	{% if function.summary | length > 0 %}
		<div class="function-summary">
			<span class="text">{{ function.summary }}</span>
		</div>
	{% endif %}

	{% if function.description | length > 0 %}
		<div class="function-description">
			<span class="text">{{ function.description | markdown | raw }}</span>
		</div>
	{% endif %}

	{% include 'inc/arguments.html.twig' %}
	{% include 'inc/return.html.twig' %}
</article>
