<article class="function">
	<h3 class="function-title">
		<span class="text">{{ function.name }}</span>
	</h3>

	{% if function.deprecated %}
		<div class="function-deprecated">
			Deprecated
		</div>
	{% endif %}

	<div class="function-summary">
		{{ function.summary }}
	</div>

	<div class="function-description">
		{{ function.description | markdown | raw }}
	</div>

	{% include 'inc/arguments.html.twig' %}
	{% include 'inc/return.html.twig' %}
</article>
