<section class="node">
	<h3 class="node-title">
		{{ node.name }}
	</h3>
	<p class="node-subtitle">
		{{ node.path | split('/') | slice(0,-1) | join('/') }}
	</p>
	<div class="node-summary">
		{{ node.summary }}
	</div>
	<div class="node-description">
		{{ node.description | markdown | raw }}
	</div>

	{% include 'inc/functions.html.twig' %}
</section>
