{% for tagName,tags in node.tags if tagName in ['link', 'see', 'uses'] %}

	{% set tagsHTML %}
	{% for tag in tags %}
		{% set itemLink = tag.reference | route('url') ?: tag.link %}

		{% set itemLinkHTML %}
		<a class="link" href="{{ itemLink }}">{{ itemLink }}</a>
		{% endset %}

		{% set itemDescription = (tag.description != itemLink) ? tag.description : '' %}

		{% set tag = { klass: 'link', items: ['@link', itemLinkHTML, itemDescription] } %}
		{% include 'parts/docblock/tag/docblock-tag.html.twig' %}
	{% endfor %}
	{% endset %}

	{% set tagList = { klass: 'link', tagsHTML: tagsHTML } %}
	{% include 'parts/docblock/tag/docblock-tag-list.html.twig' %}
{% endfor %}
