{% set counter = 0 %}

{% for element in project.indexes.elements if element.deprecated %}
	{% if file.allerrors | length > 0 %}
		{% set counter = counter + element.tags.deprecated.count %}

		{% set deprecatedHTML %}
			{% include 'parts/docblock/tag/--deprecated/docblock-tag--deprecated.html.twig' %}
		{% endset %}

		{% set header = { klass: 'header', items: ['Type', 'Line', 'Description'] } %}
		{% set tagList = { tags: header, tagsHTML: deprecatedHTML } %}
		{% set node = { name: file.path, tagLists: [tagList] } %}
		{% set docBlock = { klass: "file", node: node } %}
		{% include 'parts/structural-element/file.html.twig' %}
	{% endif %}
{% endfor %}

{% if counter == 0 %}
	<span class="text">
		There are no {{ transformationName | lower }} :)
	</span>
{% endif %}
