{% set counter = 0 %}

{% for file in project.files %}
	{% if file.allerrors | length > 0 %}
		{% set counter = counter + file.allerrors | length %}

		{% set tagListTags %}
		{% for error in file.allerrors %}
			{% set tag = { klass: 'tag', items: [error.severity, error.line, error.code | trans(error.context)] } %}
			{% include 'parts/docblock/tag/docblock-tag.html.twig' %}
		{% endfor %}
		{% endset %}

		{% set header = { klass: 'header', items: ['Type', 'Line', 'Description'] } %}
		{% set tagList = { tags: header, tagsHTML: tagListTags } %}
		{% set node = { name: file.path, tagLists: [tagList] } %}
		{% set docBlock = { klass: "Errors", node: node } %}
		{% include 'parts/structural-elements/file.html.twig' %}
	{% endif %}
{% endfor %}

{% if counter == 0 %}
	<span class="text">
		There are no {{ transformationName | lower }} :)
	</span>
{% endif %}
