{% set counter = 0 %}

{% for file in project.files %}
	{% if file.allerrors | length > 0 %}
		{% set counter = counter + file.allerrors | length %}

		{% set errorsHTML %}
			{% include 'parts/docblock/tag/--error/docblock-tag--error.html.twig' %}
		{% endset %}

		{% set header = { klass: 'header', items: ['Type', 'Line', 'Description'] } %}
		{% set tagList = { tags: header, tagsHTML: errorsHTML } %}
		{% set node = { name: file.path, tagLists: [tagList] } %}
		{% set docBlock = { klass: "Errors", node: node } %}
		{% include 'parts/structural-element/file.html.twig' %}
	{% endif %}
{% endfor %}

{% if counter == 0 %}
	<span class="text">
		There are no {{ transformationName | lower }} :)
	</span>
{% endif %}
