<article class="file">
	{% include 'parts/docblock/docblock-name.html.twig' %}
	{% include 'parts/docblock/docblock-path.html.twig' %}
	{% include 'parts/docblock/docblock-summary-and-description.html.twig' %}

	<div class="file-tags">
		{# external tag lists coming for example from the errors transformation #}
		{% include 'parts/docblock/tag/docblock-tag-lists.html.twig' %}

		{% include 'parts/docblock/tag/--link/docblock-tag--link.html.twig'  %}
		{% include 'parts/docblock/tag/--package/docblock-tag--package.html.twig'  %}
		{% include 'parts/docblock/tag/--since/docblock-tag--since.html.twig'  %}
	</div>

	{% include 'parts/structural-element/function-list.html.twig' %}
</article>
