<article class="file">
	{% include 'parts/docblock/docblock-name.html.twig' %}
	{% include 'parts/docblock/docblock-path.html.twig' %}
	{% include 'parts/docblock/docblock-summary-and-description.html.twig' %}

	<div class="file-tags">
		{% if docBlock.node.tagsHTML | length > 0 %}
			{{ docBlock.node.tagsHTML}}
		{% endif %}

		{% set tagLists = ['link', 'package', 'since'] %}
		{% for tagList in tagLists %}
			{% include "parts/docblock/tag/--#{tagList}/docblock-tag--#{tagList}.html.twig" %}
		{% endfor %}
	</div>

	{% include 'parts/structural-element/function-list.html.twig' %}
</article>
