<nav class="file-list">
	<h3 class="file-list-title">
		<span class="text">{{ fileType}}</span>
	</h3>

	<ul class="ul js-sort-list">
		{% for file in project.files | sort %}
			{% set displayFile = false %}
			{% set fileName = file.path %}

			{% if  fileType == "Templates" %}
				{% set test = file.path | split('/') %}
				{% if test[1] is empty %}
					{% set displayFile = true %}
				{% endif %}
			{% endif %}

			{% if  fileType == "Template Parts" %}
				{% set test = file.path | split('/') %}
				{% if test[0] == 'template-parts' %}
					{% set displayFile = true %}
					{% set fileName = fileName | trim('template-parts') | trim('/', 'left') %}
				{% endif %}
			{% endif %}

			{% if  fileType == "Template Tags" %}
				{% set test = file.path | split('/') %}
				{% if test[0] == 'inc' %}
					{% set displayFile = true %}
					{% set fileName = fileName | trim('inc') | trim('/', 'left') %}
				{% endif %}
			{% endif %}

			{% if displayFile == true %}
				<li class="li">
					<a class="link" href="{{ file | route('url') }}" title="{{ file.path }}">
						{{ fileName }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
