@mixin tag {
	display: flex;

	.col-1 {
		width: 20%;
	}

	.col-2 {
		width:  60%;
	}

	.col-3 {
		width: 20%;
	}


	&--param,
	&--return {
		.col-1 {
			width: 20%;
		}

		.col-2 {
			width:  10%;
		}

		.col-3 {
			width: 70%;
		}
	}
}
