@mixin tag {
	display: flex;

	.col-1 {
		width: 20%;
	}

	.col-2 {
		width:  60%;
	}

	.col-3 {
		width: 20%;
	}


	&--header {
		font-weight: bold;
	}

	&--error,
	&--marker,
	&--deprecated,
	&--header {
		@include padding(no, no, half, no);
	}


	&--param,
	&--return,
	&--header,
	&--error,
	&--marker,
	&--deprecated {
		.col-1 {
			width: 20%;
		}

		.col-2 {
			width:  10%;
		}

		.col-3 {
			width: 70%;
		}
	}
}
