@mixin figure {
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    @include image;
    @include image--do-not-stretch;
  }

  figcaption,
  .wp-caption-text {
    @include figure__figcaption;
  }
}
